[2014-06-25 09:13] alecive opened #1 "Add a (boolean) flag able to selectively disable a skinPart"
Right now, there is no easy way to disable a skinPart. It may be useful to have a flag at command line that selectively disables a skinPart if the skinPart is flickering/broken (e.g. `visuoTactileRF --no_left_hand`).

[2014-06-25 09:14] alecive opened #2 "Check the port read from the PPS_dumper"
Right now, the port read from the PPS_dumper (coming out the vtRF module) is missing some samples here and there. Check if there is a bug or it is normal.

[2014-11-14 12:57] pattacini opened #3 "Add flag to enable/disable velocity handling"
At a certain point we have to make the software configurable in order to enable/disable the handling of second axis (i.e velocity), to then merge `dev` into `master`.

[2014-11-14 12:59] #1 closed, assigned to nobody

[2015-01-07 15:02] alecive opened #4 "TodoList in the short term"
* Move the iCubGui handling from the `ultimateTracker` to the `visuoTactileWrapper`, in order for any tracked object to be visible on the gui (even the redBall)
* add  an `autoconnect` option to the demoAvoidance, in order to remove the hassle of manually connect
* let the `visuoTactileRF` look for contacts in only the taxels he needs, e.g. avoiding the noisy fingers if the RFs are in the palm

[2015-01-08 17:14] #4 closed

[2015-01-08 17:17] alecive commented on #3
After a proper set of testing, I would consider this fixed on branch `1d2deq3d` after commit d60c764c8b57ba8836fb740aa97afe2a2f75b39e . I'll keep this branching until I'll be 100% of not losing any feature and not having any new bug, but I would say that we're there.

[2015-01-08 17:23] alecive opened #5 "Add negative domain to the 1D modality"
Right now, the two modalities (1d and 2d) are independent and follow quite different tracks. I would like to start blending their differences. First thing: adding the negative domain to the 1D modality.

Right now the 1D version has a fixed lower bound (e.g. `0m`). It would be better to have the taxels in the negative space as welll.

[2015-01-08 17:45] alecive commented on #3
Closing because everything has been merged in master right now.

[2015-01-08 17:45] #3 closed

[2015-03-05 10:42] pattacini opened #6 "SW porting"
Port SW to robotology

[2015-03-05 10:43] pattacini opened #7 "Youtube video"
Publish the video on the icub youtube channel and update the link within the paper.

[2015-03-05 10:44] matejhof commented on #7
after publication I would say?

[2015-03-05 10:45] pattacini commented on #7
yep

[2015-03-10 14:12] alecive opened #8 "doubleTouch needs some revision"
Two issues arose during some testing:

 * [x] `--type` option does not seem to work properly, expecially when using `both*` arguments. Eventually, it would be nice to add a `--type all` option, in which any movement is available to the user.
 * [x] `--type LHtoR` does the movement (albeit unsuccessfully apparently), but it goes in `yFatal` right afterwards
 * [x] `--type RHtoL` seems to go toward

[2015-03-19 11:32] alecive commented on #5
It has been done for the IROS paper. Closing.

[2015-03-19 11:32] #5 closed

[2015-03-19 11:33] alecive commented on #2
This is connected to the fact that the ultimate tracker works with a lower framerate than the vtrf module. By fixing that we will fix this problem as well.

[2015-03-19 15:01] matejhof opened #9 "skinPart indexing"
In iCubDblTchThrd.h, there is
[code]
which is consistent with iCub::skinDynLib::SkinPart (skinDynLib/common.h)
[code]
but should be replaced by the enum.
What you think?

[2015-03-19 15:52] alecive commented on #9
Yes, I agree.

[2015-03-20 13:14] matejhof commented on #9
In addition, in utils.h, the skinPart class has a member "name", which is then assigned "left_forearm", for example, in setTaxelPosesFromFile. I suggest to replace the string name with skindynlib SkinPart enum.

[2015-03-21 13:11] alecive commented on #9
@matejhof btw, in my library there is already a `skinPart` class which is different from the `skinPart` enum present in the `skinDynLib`. Honestly, I'd rather prefer mine as an implementation of a skin part (i.e. a proper class with a name, a vector of taxels that belong to it, and some related methods). My question is: can this incur with some problems in your module?

[2015-03-22 13:46] alecive commented on #8
Update: I have looked at the code. The module seems too tight to a specific IK task to be easily extended in order to solve any chain. So the `--type everything` seems unfeasible in the short term.

[2015-03-22 14:36] alecive commented on #8
@matejhof regarding the yFatals, It happens when the ID of the taxel that has been touched does not correspond to a proper calibrated taxel (e.g. the fingertip). In that situation, the normal direction is [0,0,0] and the software is not able to create a frame of reference around the taxel any more.

[2015-03-23 10:30] #2 closed

[2015-03-23 10:30] #9 closed

[2015-03-26 07:33] pattacini commented on #6
@alecive I'd say the project is mature enough to be ported in robotology.
Can I do this this morning?

[2015-03-26 08:01] alecive commented on #6
I'd say that it is ready to be moved, but I was thinking that a part of it, i.e. the library related to the Taxel and iCubSkin class, would be probably better suited for the skindynlib. They are a set of classes and methods that would be beneficial for many users of the iCub's skin. What do you think?

[2015-03-26 08:02] pattacini commented on #6
I agree. Then, let's do like the following:
- extend `skindynlib` with the new functionality
- remove that functionality from `periPersonalSpace` and test
- move `periPersonalSpace` in robotology

[2015-03-26 08:04] alecive commented on #6
Ok. For that then we should wait at least the reharsal :)

[2015-03-26 08:05] pattacini commented on #6
no problem, open a new issue to keep track of this request.

[2015-03-26 08:12] pattacini opened #10 "Extend skindynlib"
Make some functionality of `periPersonalSpace` general by including it in `skindynlib`: see #6

[2015-04-13 14:44] alecive opened #11 "[demoAvoidance] Trigger the demoAvoidance behavior from rpc command"
It would be nice to add these following commands to the demo avoidance module (through `rpc`):

 * [x] `set behavior avoidance` (that sets the motionGain to `-1.0`, regardless of its previous value)
 * [x] `set behavior catching` (that sets the motionGain to `1.0`, regardless of its previous value)
 * [x] `set motionGain [double]`
 * [x] `get motionGain`

[2015-04-16 10:15] alecive opened #12 "[demoAvoidance] Add --stiff parameter"
It might be useful to add a --stiff parameter in order to perform movements in stiff mode instead of compliant.

[2015-04-16 10:16] #12 closed

[2015-04-16 10:16] alecive commented on #12
@matejhof

[2015-04-16 10:19] alecive commented on #8
This commit 4f45109a79b729ee83f4dedd008caa0ddd426467 from https://github.com/robotology/icub-main fixed the `RHtoL` problem.

[2015-04-18 16:18] alecive commented on #11
@matejhof I made the changes. It is not tested yet, so if you want you can give it a try on Sheffield :)
The interface is exactly the one described above :)

[2015-04-18 16:18] #11 closed

[2015-05-03 07:33] pattacini commented on #10
@alecive Any news?

[2015-05-07 12:38] matejhof opened #13 "modifications toward pps/allostatic for WYSIWYD"
modifications needed:
 * [x] visuoTactileWrapper
   * [x] new input modality - reading multiple object coordinates from
`/objectGeneratorSim/obstacles:o` `(x1 y1 z1 RADIUS) (x2 y2 z2 RADIUS) … (xn yn zn RADIUS)`
   * [x] output - modify /visuoTactileWrapper/events:o to stream multiple objects - e.g.
`(pos_x pos_y pos_z vel_x vel_y vel_z object_radius source_of_info)` (SAME FOR SECOND OBJECT)
 * [x

[2015-05-07 12:41] alecive commented on #13
What a nice issue report! The only thing that was missing were the code tags where needed (I already did that :+1: )

[2015-05-12 11:42] alecive commented on #8
The branch https://github.com/alecive/periPersonalSpace/tree/test/doubleTouchWithAnyBodyPart Sort of fixed everything. There still seems to be an issue with the `LtoR` task (from left forearm to right arm, which does not seem to be working at all).

[2015-05-12 11:43] alecive commented on #8
My idea was to merge the branch, close this issue and eventually open anotehr issue with this problem alone.

[2015-05-12 12:53] #8 closed

[2015-05-12 12:55] alecive opened #14 "[doubleTouch] LtoR (i.e. from left forearm to right arm) does not seem to work"
The title tells everything.

[2015-05-13 13:08] alecive opened #15 "Virtual Contact generation errors"
When running `virtualContactGenerator` module, I get the following:
[code]

Two issues are there:
 1. The `yError` that is printed out should be solved
 2. The thread should exit before encountering the exception. By simply returning false after https://github.com/alecive/periPersonalSpace/blob/master/modules/virtualContactGeneration/virtContactGenThread.cpp#L131 should be sufficient. Maybe it wou

[2015-05-13 14:09] matejhof commented on #15
good point!
Solved second part - proper closing.
Will work on first part - the forearms were really simply not implemented.

[2015-05-13 16:09] matejhof commented on #15
Should be solved now, you can test.

[2015-05-13 16:09] #15 closed

[2015-05-14 09:49] #14 closed

[2015-06-08 08:43] #10 closed

[2015-06-08 08:43] pattacini commented on #10
see https://github.com/robotology/icub-main/commit/4ded9d08fceee7a060ce2f7d3cb9fa56b8fea154

[2015-09-17 11:58] alecive commented on #6
Done.

[2015-09-17 11:58] #6 closed

[2015-09-17 14:14] alecive commented on #7
Done. Video available here (when it will be processed):

[![IMAGE ALT TEXT HERE](http://img.youtube.com/vi/hVQginjCTC0/0.jpg)](http://www.youtube.com/watch?v=hVQginjCTC0)

[2015-09-17 14:14] #7 closed

[2015-09-21 08:17] alecive commented on #7
Previous video was not working. This one is working:

[![peripersonal space video](http://img.youtube.com/vi/3IaXxNwC_7E/0.jpg)](http://www.youtube.com/watch?v=3IaXxNwC_7E)

I updated the `README.md` accordingly.

[2016-02-01 12:55] matejhof opened #16 "visuoTactileRF segfaults after start"
[feature/WYSIWYD branch] It seems to segfault soon after the start - I tried couple of options, icub, icubSim, 1D, 2D, but always same.

[2016-02-01 16:11] alecive commented on #16
Can you paste me the terminal output?

[2016-02-01 16:13] matejhof commented on #16
``./visuoTactileRF: Symbol `_ZTVN4yarp3sig10VectorBaseE' has different size in shared object, consider re-linking
[INFO]Module name set to visuoTactileRF
[INFO]Robot is icub
[INFO]Could not find modality option in the config file; using 1D as default
[INFO]vtRFThread verbosity set to 0
[INFO]vtRFThread working at  100 ms
[INFO]SKIN_EVENTS section found
[INFO][skin_event] filePath [0] /usr/local/sh

[2016-02-01 16:18] alecive commented on #16
can you run it with some more verbosity? Also, you should recompile I think (as the first line of code is suggesting).

[2016-02-01 16:44] #16 closed

[2016-02-03 17:31] matejhof opened #17 "adapt code to be compatible with icub v2 skin"
On the blackie, there are forearms and hands V2 as of December 2015. There are differences in the skin. Most importantly, the upper patch on forearm has 8 rather than 7 triangles. For the rest, need to check whether the positions differ. For sure, appropriate new taxel pos files need to be loaded correctly. The representative taxel code - to pick triangle centers - also needs to be checked.
This a

[2016-02-08 19:21] alecive commented on #17
Completely unrelated: so the blackie has been upgraded with the new forearms? Hooray!! I did a full Phd in the meanwhile but happy to know they arrived at some point :D

[2016-04-13 16:29] matejhof opened #18 "pps vectors (or their visualization) toward right palm have wrong direction?"
This can be either in visuoTactileRF or more likely in ppsAggregEventsForiCubGui. Check probably after WYSIWYD review.
See experiments from 13.6. - exp5 has also data logged.

[2016-04-15 17:32] vicentepedro opened #19 "OpenCV-3.x.y compatibility"
Hi all!

I tried to compile the repository using OpenCV 3.x.y.

I got the usual errors due to the conversion from IplImage to Mat using the constructor method.

I don't know if you want to support it. ;)

[2016-04-15 20:00] pattacini commented on #19
Hi @vicentepedro
Thanks for spotting.
I and @alecive will be soon on this upgrade.

[2016-04-17 09:13] pattacini commented on #19
@alecive @matejhof
Concerning this overhaul, we have to first merge the feature branch into master and soon afterwards proceed with the upgrade to opencv-3.x.y.

[2016-04-17 09:21] pattacini opened #20 "Tidy up branches"
We have to:

- [x] Purge/revise present tags (what are they for?).
- [x] Assign a tag to the `1Dstable` and delete the branch.
- [x] Merge `feature/WYSIWYD` into `master`.

@alecive @matejhof

[2016-04-17 09:30] pattacini commented on #13
Seems we can close this.
Reopen if needed.

[2016-04-17 09:30] #13 closed

[2016-04-17 10:58] matejhof commented on #19
For now, I discovered that it seems it is only the fingertipTracker module with this problem. That one is not necessary for the core functionality, so we can just comment its compilation out.

[2016-04-20 07:59] pattacini commented on #19
See #21.

[2016-04-20 13:40] pattacini commented on #19
Should be fixed.

[2016-04-20 13:41] #19 closed

[2016-04-20 13:42] alecive commented on #19
@vicentepedro now it is fixed only in the `feature/WYSIWYD` branch, but as soon as #20 is fixed, also the master branch will be up-to-date with OpenCV 3.*

[2016-04-20 13:44] pattacini commented on #19
For the #20, @alecive could you do that? :smile:.

[2016-04-20 13:45] alecive commented on #19
I'm waiting for @matejhof to come back from the review meeting because I can merge remotely but I cannot test it :stuck_out_tongue:

[2016-04-20 13:47] pattacini commented on #19
You could do already the first two bullet points though.

[2016-04-20 13:56] alecive commented on #20
@pattacini we tagged the repo when we acquired data for the pps-paper. I think that, at least until published, we should keep them (plus, they don't hurt).

[2016-04-20 14:37] pattacini commented on #19
@vicentepedro @alecive
Unlike I said before, I first fixed the opencv related issues. This was because only `fingertipTracker ` was affected.

[2016-04-21 15:01] matejhof commented on #18
Solved by workaround with this commit: 1520d2120717127ce74a163872893b377bf338f1
Bug is in iCubGui - issue opened here: https://github.com/robotology/icub-main/issues/323
Closing.

[2016-04-21 15:02] #18 closed

[2016-04-21 15:07] matejhof commented on #20
Ok, after discussing with @alecive and the latest commit regarding demoAvoidance, I need to test the demoAvoidance on the robot and the functionality of the 2D representation. After that, we should be able to merge.

[2016-04-28 14:01] matejhof commented on #20
demoAvoidance in feature/WYSIWYD works like a charm.
make sure you take the updated PPS_with_Optical_Flow script on board when merging - new port name to connect to is
[code]

[2016-04-28 14:17] matejhof commented on #20
1D learning works fine in feature/WYSIWYD

[2016-04-28 14:40] matejhof commented on #20
2D learning seems fine two (it's hard to precisely see the effects of velocity because of the low res of velocity, 4 bins, and the noise on the velocity estimation).
So we can merge feature/WYSIWYD into master I think!

[2016-04-28 15:56] pattacini commented on #20
Cool!
@alecive are you in charge of this merge?

[2016-04-28 17:21] alecive commented on #20
Great! I will do that ASAP (that might not necessarily mean before the end of this week, though :) )

[2016-05-02 14:02] matejhof opened #22 "allowing for bounding boxes, not just circular incoming events (obstacles)"
For the scenario we are developing with @towardthesea and @pattacini  - "reaching in clutter" - we are leveraging on the `IOL` output that gives us 3d bounding boxes of objects in the scene. We want to transform this output into something similar to what was sent from `visuoTactileWrapper/events:o` to `visuoTactileRF/events:i`, which looks like this (for `pf3dTracker` case and 1 object):
  * `(x_p

[2016-05-03 13:20] alecive commented on #22
Can you please be more clear on what you would like to go?

I cannot understand this (x_pos y_pos z_pos x_vel y_vel z_vel {radius/boundingBox}Tag x_dim/radius y_dim z_dim pf3dTracker)

Further, the branch feature/WSYWID was devised specifically for multiple objects.

In any case, yes, the `visuoTactileWrapper` is exactly made for this purpose of wrapping anything might be useful in a format that i

[2016-05-03 13:27] matejhof commented on #22
We need to allow for the option of having a bounding box or radius for every object - one option is that that would be signalled by a tag. The other option is that radius will be replaced by bounding box even for spheres.

Yes, feature/WYSIWYD should be able to handle that - even though we never tested I think.

So yes, we could modify the visuoTactileWrapper accordingly (and utils.h)?

For the IO

[2016-05-03 15:59] alecive commented on #22
The third option (that makes more sense to me) is that the bounding box is replaced by a radius. It makes more sense because you don't disrupt everything else with minor damage.

The radius is used internally to compute the minimum distance between the object and the taxel (i.e. the one we care about), which is kind of difficult with a bounding box. I would stick with the radius of the sphere that

[2016-05-03 16:12] matejhof commented on #22
Hmm, I did not think it all through. Maybe yes. The thing is that we'd like to take into account the full occupancy of obstacles - approximating a bottle with an inscribed sphere will be a massive underestimation of its dimension / circumscribed will be an overestimation. The planner of @towardthesea can deal with full bounding boxes. However, I forgot that PPS cannot and this would require a majo

[2016-05-03 17:23] alecive commented on #22
Yes agreed. Further, the extension would also require the orientation of the box in 3D, not only its size.

[2016-05-03 18:46] alecive commented on #20
I am working on the merge. @matejhof two stylistic things I would like to point out:
 1. Try to avoid superlong lines but rather decompose them in multiple-line chunks (there was a line wit 632 characters!). This would **greatly** improve readability of the code. Usually people say 80 characters per line, but also 100 is ok :)
 2. Try to stick with the same convention I am using throughout the rep

[2016-05-03 18:54] pattacini commented on #20
@alecive is definitely right and I do put forward his requests.

Please, @matejhof, do not underestimate these factors. Complying with these rules discriminates code that will die soon from code that will represent a robust building block :smile: (really!)

When extending/modifying others' code, you **must** adapt yourself to the conventions you find in it.

[2016-05-03 19:28] alecive commented on #20
Ok I did it!
It was long and painful and I couldn't test it but at least it compiles. Also, @matejhof other two things:
 1. some times I saw wrong indentations that were not consistent throughout the code. There were some 3-spaces intentations, and some 5-spaces indentations which I had to move back to 4-spaces. Please double check in the future that all your indentations are correct!
 2. It would

[2016-05-03 19:33] #20 closed

[2016-05-03 19:34] alecive commented on #19
@vicentepedro now the `feature/WYSIWID` branch has been merged onto `master`, and the code should be OpenCV 3.* compatible. Please report back if you still have any issues!

[2016-05-03 21:49] pattacini commented on #22
@matejhof could you please edit your original post above and apply markdown formatting properly?
The text is very barely readable.

**Formatting, formatting, everywhere vigorously and rigorously**.
I'm starting off bothering you heavily from now on :wink:.

[2016-05-03 21:51] pattacini commented on #22
Actually, I'm really tempted to close this issue straightaway and force you all to be clean...

[2016-05-09 11:50] matejhof commented on #22
Hi there, ok formatting of original message somewhat improved.
As for the solution, we keep the existing format of the message and I will extend `visuoTactileWrapper` to extract bounding boxes from `IOL` and transform them into circular objects with position (their center) and radius as first approximation.
Later, if there are elongated objects for which the inscribed/circumscribed sphere would be

[2016-08-05 08:37] matejhof commented on #17
We still need to tackle this one day. Just explained to Phuong Ngyuen @towardthesea what this is about.... This would involve creating a new positions file under `icub-main/app/skinGui/conf/positions`, e.g. left_forearm_V2.txt, including the mapping to the representative taxels for the additional triangle on the upper part of forearm. Then checking if that is enough for PPS to pick it up automatic

[2016-08-05 09:07] traversaro commented on #17
@matejhof Yesterday I brefly introduced @towardthesea to the work (terribly undocumented : ( ) that we did to generate a `torso.txt` configuration file `icub-main/app/skinGui/conf/positions` starting from 2D triangle positions and CAD data in https://github.com/robotology-playground/icub-taxel-positions .

We could look into cleaning up the procedure to produce taxel positions even for the forearm

[2016-08-08 09:47] matejhof opened #23 "PPS visualization"
We're working with @towardthesea on how we can visualize the PPS that has already been learned - as a volume in 3D space surrounding the robot.
First, we're starting in `Matlab`.
Here come some questions for @alecive:
1. Where can we find the code that was used to generate and plot the simulation results for the IROS paper (distance only representation). There should be an implementation of the Pa

[2016-08-08 11:48] towardthesea commented on #23
Another question for @alecive  is that: What is the exact `angle of the **cone**` you used for the experiment? I tried to find in the paper but it was not mentioned.

Thanks.

[2016-08-08 20:37] alecive commented on #23
Sorry for the delay in answering, today was a busy demo day :)

Everything related to data processing and plotting (for the 1D version) should be in the following repositories: https://github.com/alecive/pps-gitlab/tree/master/2015_IROS (@towardthesea I added you to the repo - which is private - in case you need it) and this one https://github.com/alecive/peripersonal-space-margin-of-safety-data/

[2016-08-08 22:29] towardthesea commented on #23
Thanks @alecive for your value detail information. I had a brief look through the repo and they seems really good. I will try to exploit them and will inform you if I get any trouble :+1:

Actually I handled to plot the parzen drawing based on your 2D code that @matejhof shared me, but I will double check with your code to make sure everything fine.

Thanks again!

[2016-08-08 22:43] alecive commented on #23
Great! If you then tell me in detail what you are going to need next, I can share it to you :+1:

[2016-08-09 06:48] matejhof commented on #23
Great thanks!
Btw., the angle seems to be 40 deg, guessing from here: [https://github.com/robotology/peripersonal-space/blob/master/lib/src/utils.cpp#L300](https://github.com/robotology/peripersonal-space/blob/master/lib/src/utils.cpp#L300)
No?

[2016-08-09 06:52] matejhof commented on #23
I'll reopen this - the visualization enhancement is yet to be done.

[2016-08-09 13:15] alecive commented on #23
Sorry, I forgot what was the real reason of the issue :)

Ok so there is a slight misalignment between the cpp and the matlab I think.

[2016-08-09 13:22] matejhof commented on #23
Ok, so perhaps we can try to realign everything to 40 (a nicer number) - from now on?

[2016-08-12 13:05] matejhof opened #24 "possible bug in 1D binning and enhancement to other than 20 cm range"
@towardthesea has been visualizing the discrete representations from some of the learned `.ini` files (concretely this one: [taxels1D_learnedAll.ini](https://github.com/robotology/peripersonal-space/blob/master/app/conf/taxels1D_learnedAll.ini)). The plots, here
[left_forearm.zip](https://github.com/robotology/peripersonal-space/files/415299/left_forearm.zip), indicate that there might be somethin

[2016-08-12 13:19] alecive commented on #24
I'll answer your last question first: in theory, it should be pretty straightforward (you only need to change the `ext` parameter in the `.ini` file). The only problem I can foresee is that I would increase the number of bins (also that one possible from `ini` file), and also the time buffer in the past from which a trajectory is recorded (that one is not in the `ini` file I think). This means tha

[2016-08-12 15:43] matejhof commented on #24
An additional thought on the bug suspect - could it be also related to the way the cone is set up? Very narrow around 0? But there was this extra "patch" there for the RF (where is it in the code?). How was the RF in the negative distance domain actually?

[2016-08-12 16:53] alecive commented on #24
Exactly, that should be the issue. It is implicitly present always, but it is evident when there are offsets because the trajecory might fall outside of the RF earlier on.
I think that we worked around the issue in the matlab code (moving from a cone to a cylinder when the distance is lower than a threshold), but I did not have time to find where the code was :)
Also, I think that this issue was t

[2016-08-15 14:49] alecive commented on #24
Hey @matejhof , sorry I thought I replied. So the reason is exactly that one. On the Matlab side we fixed it by moving from a cone to a cylinder when the distance is below a certain threshold, but I think that we did not on C++. We probably found the issue while working for IROS on the matlab learning.
The bigger the systematic offset is, the more evident the "hole" (because an incoming object exi

[2016-08-15 15:01] alecive commented on #24
I took a look at the issue. The file to look into is this one : https://github.com/alecive/pps-gitlab/blob/master/2016_PLOS_ONE/utils/train_taxelNEW.m

And specifically:
 * At [line 54](https://github.com/alecive/pps-gitlab/blob/master/2016_PLOS_ONE/utils/train_taxelNEW.m#L54) we check if the object is inside the cone
 * At [line 55](https://github.com/alecive/pps-gitlab/blob/master/2016_PLOS_ONE/

[2016-08-18 14:22] alecive commented on #23
No problem for me :+1:

[2016-08-22 13:37] matejhof commented on #24
Thanks @alecive ! So:
1. In Matlab, there is cone & cylinder? Also in the negative domain?
2. In C++, there is only cone? And in the negative, there is a negative cone too?
I guess we will need to implement the cylinder at the base of the cone in C++ too. If you had some pointers, that would be great!

[2016-08-22 14:02] towardthesea commented on #23
A screen shot of `PPS representation` for the left forearm. For the color bar, please don't consider the `minus` sign!
https://www.dropbox.com/s/zlwwe67ljr7h668/PPS-left%20forearm.bmp?dl=0

A short video of PPS representation with different view points to make it easier to understand
https://www.dropbox.com/s/b9oadz0s949yh9h/Figure%206%208_22_2016%203_53_56%20PM.mp4?dl=0

[2016-08-22 14:05] matejhof commented on #23
This is beautiful! We can still polish it, but this will IMHO be a priceless tool! Well done!

[2016-08-22 14:09] pattacini commented on #23
Awesome! Well done!

[2016-08-22 14:33] pattacini commented on #23
Awesome! Well done!

It's worth an animated GIF :smile:

![ezgif com-optimize](https://cloud.githubusercontent.com/assets/3738070/17858329/84c4d6fa-6885-11e6-907f-4af3d1d0b797.gif)

[2016-08-23 12:51] alecive commented on #23
Wow, great job @towardthesea !!!
Two comments:
 * What does the color scheme mean? Is it related to the taxel's activation?
 * Theoretically, each of the "bins" should have a constant distance around the taxels' origin, so they should be an arc belonging to a circumference centered onto the taxels' origin. These RFs seems pretty flat to me (i.e. not belonging to a circumference), but maybe it's on

[2016-08-23 12:53] alecive commented on #24
In matlab there is a cone and cylinder, yes (also in the negative domain) :)

And I gave you the pointers in the previous comment :+1:

[2016-08-23 13:32] matejhof commented on #24
Could you still answer point 2. please? I meant pointers to C++ code now.

[2016-08-23 13:51] alecive commented on #24
Yes there is a cone always (also in the negative).

Here is where I compute if the event is inside the RF https://github.com/robotology/peripersonal-space/blob/master/lib/src/utils.cpp#L358 (it should be straightforward to extend ti by copying the matlab code).

Also, now that I look at the code I would like to move `TaxelPWE`, `TaxelPWE1D` and `TaxelPWE2D` into their own separate `TaxelPWE.cpp` f

[2016-08-23 14:01] towardthesea commented on #23
This will answer @alecive 's question but is also an explanation:
- The color scheme relates to the activation level after applying `Parzen window` approximation: The `red` color is for the highest activation while the `yellow` is for the lowest. So each `cone` corresponds to each taxel's receptive region. (Please also check the file for the summary of the PPS representation with Parzen window est

[2016-08-23 14:12] alecive commented on #23
I think we have a misunderstanding here: the RF angle of `41°` is between the vertical (z axis in Fig 5 of the paper https://alecive.github.io/papers/[Roncone%20et%20al.%202015]%20-%20Learning%20peripersonal%20space%20representation%20through%20artificial%20skin%20for%20avoidance%20and%20reaching%20with%20whole%20body%20surface.pdf) and the external bounds of the RF (i.e. the line in which I wrote

[2016-08-23 14:23] alecive commented on #23
I did a quick depiction of what I mean:

![rf](https://cloud.githubusercontent.com/assets/4378663/17895518/58679d04-691b-11e6-97aa-2cec11c0c59b.png)

Red should be with RFangle at 80°, green at 41° (please be aware that I did not measure them, I only draw them to give you the idea). The black lines should be the `bins` at constant distance from the taxel: you see how their curvature does not chang

[2016-08-23 14:34] towardthesea commented on #23
I actually misunderstand what you meant for `41<sup>o</sup>`, which I thought is the whole angle of the RF. What I did show for the first time was `20.5 <sup>o</sup>` as you defined (meaning `41 <sup>o</sup>` of the whole angle); and due to this small angle of `20.5 <sup>o</sup>`, it created the feeling of flat (but it is still arc) as I mentioned in the explanation comment above.

In the explanat

[2016-08-24 14:44] matejhof commented on #22
Let's close this one for now and reopen when needed. We have other burning issues.

[2016-08-24 14:44] #22 closed

[2016-08-24 15:01] matejhof commented on #17
Just to help to clarify where we stand from the pps software perspective.
The pps software is internally relying on forearm V1 skin and hand_V2_1 skin. When visualizing on corresponding `skinGuis`, it looks like this:

![ppsv1activationsonv1skingui](https://cloud.githubusercontent.com/assets/6461061/17935250
/e250cad6-6a1a-11e6-9a97-9c3e9573fef3.png)

(Need to check - it seems the right palm taxel

[2016-08-24 15:05] matejhof opened #26 "considering torso joints when projecting stimuli onto taxel frames"
Currently, the PPS software was not taking the torso joints into account and while projecting external stimuli onto the taxel frames, it was assuming the torso is in home.
https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L835
What needs to be done:

 * [ ] unlock the torso in `armL` and `armR`
 * [x] create a new encoder for reading t

[2016-08-24 15:20] matejhof opened #27 "handling of multiple events (stimuli) correctly"
During the processing of multiple concurrent stimuli around here: https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L835
It seems that:

1. The events buffer is not ready for that.
https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L323
2. The taxel representation, [taxelPWE

[2016-08-25 12:13] matejhof commented on #26
actually, torso encoders seem to be already in place: https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L194

[2016-08-25 13:30] matejhof commented on #17
N.B. During start of `visuoTactileRF` module, the files to retrieve taxel positions are taken from [skinManForearms.ini](https://github.com/robotology/icub-main/blob/master/app/skinGui/conf/skinManForearms.ini). Once positions files for V2 forearms are available and if the robot is configured correctly, they will be automatically taken from there.

[2016-08-25 13:35] matejhof commented on #17
This part will have to be modified to comply with V2 forearm skin: https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L1202

[2016-08-25 13:41] matejhof commented on #17
The asymmetry in the palm representative taxels was here: https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L1260
Enabling all of them in current branch (`pps-with-modulations-dev`) - even the region around the thumb of right hand for completeness (699d4753a2f96d9deeb30ef8a277d593190b8824).

[2016-08-25 13:44] alecive commented on #26
It is used for projecting the taxel into the eyes (something that I did long ago but we rarely used afterwards). So even better! There's less work to do :)

[2016-08-25 13:47] alecive commented on #17
Nice you found it out! Probably we decided to remove it for some reason during the experiments :+1:

[2016-08-25 13:55] matejhof commented on #26
Ok, but still we need to free the joints in the iCubArms, here?
https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L37
Something like:
[code]

[2016-08-25 13:58] alecive commented on #26
I don't think so, but I would release the left and right arms separately because we should account for when one of the two arms is not available and we want to use the other one. I would put the two `for` loops inside the already available `if`s: https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/modules/visuoTactileRF/vtRFThread.cpp#L112

[2016-08-25 16:22] matejhof commented on #26
Should be addressed by this commit: 0eb263263225dc5c336c6efa181b2501e51b74f2
in `pps-with-modulations-dev`
Will test before closing.
@alecive check the commit if you want.

[2016-08-25 16:24] alecive commented on #26
Shall we open the pull request that fixes this issue?

[2016-08-26 09:36] matejhof commented on #26
Solved by accepting current pull request of `pps-with-modulation-dev` into `pps-with-modulation`.

[2016-08-26 09:36] #26 closed

[2016-08-26 10:00] matejhof commented on #27
Regarding 1) - putting multiple events in the buffer and learning from them, I don't see any straightforward way of handling that. I guess we would need to keep track of the identity of the objects across the buffer. For now I think we can skip that and assume that during learning, there will be only one stimulus at a time.
For the activations, we should support multiple - no buffer is needed ther

[2016-08-26 11:21] towardthesea commented on #23
My persional repo for PPS visualization https://github.com/towardthesea/PPS-visualization. Please have a look and inform me if you get any problem in using it.

[2016-08-26 11:34] pattacini commented on #23
@towardthesea @matejhof @alecive
I wouldn't keep those scripts apart from this main repository, but rather create a sub-directory and maintain the code here.

[2016-08-26 12:35] alecive commented on #27
I think that the role of identifying which event is which should be given to the `visuoTactileWrapper`: it is the one that will cope with multiple events and will provide a consistent interface (i.e. if you have a vector of multiple events the second one should always be the same). But I agree with you that it is tricky: perhaps, instead of dealing with every possible combination of multiple event

[2016-08-26 12:54] matejhof commented on #27
That could also be a way. For now, though, I'd like to pursue what I started - enabling activations when faced with multiple events. I'm modifying `taxelPWE` to hold a `vector<IncomingEvent4TaxelPWE> Evnts`.
https://github.com/robotology/peripersonal-space/blob/pps-with-modulations-devMultiEvent/lib/include/iCub/periPersonalSpace/taxelPWE.h#L47
(change not committed yet)
When computing response, i

[2016-08-29 09:22] matejhof commented on #24
I'm displaying a lot of detailed debugging outputs while testing something else now. I'm getting a lot of events with positive `TaxelPWE:insideFoRCheck` while at the same time NRM for those events varies greatly - e.g. from -0.15 to 1.15. I assumed the NRM is Euclidean distance in meters - but 1 m away can't lie inside the RF I guess?

[2016-08-30 14:26] matejhof commented on #24
In C++, the cylinder was implemented too (together with the cone): https://github.com/robotology/peripersonal-space/blob/pps-with-modulations/lib/src/taxelPWE.cpp#L61

[2016-09-01 08:56] matejhof commented on #24
Just to get the terminology straight - what was referred to as `cone` above is actually a `spherical sector`. (A cone has a flat base; we take into account all points with distance <= r instead)

[2016-09-05 09:03] matejhof commented on #24
Ok, so here is my proposal for new definition of maximum visual RFs of taxels. The idea is to get rid of the spherical sector **and** a cylinder to patch the volume around the taxel where the sector has 0 volume. The new way would be to take the spherical sector only, but shift it toward the taxel, such that it does not start at the apex. Like this:
![maximumrfpositive](https://cloud.githubusercon

[2016-09-13 15:36] matejhof opened #30 "add option for iCub V2 arm kinematics"
This is related to https://github.com/robotology/peripersonal-space/issues/17 but also the different kinematics of V2 arms needs to be considered.
This should probably be added to the .ini file and then the `iCubArm` chains created with the appropriate option.
What is actually the physical difference?
[Here](https://github.com/robotology/icub-main/blob/master/src/libraries/iKin/src/iKinFwd.cpp#L17

[2016-09-13 16:49] pattacini commented on #30
Hi @matejhof

There's no extra link: you might have not realized that there are no curly brackets.
For the rest, yep, of course, the correct kinematics should be taken into account within `PPS`.

[2016-09-14 15:06] matejhof opened #31 "check sending of activations to skinGuis"
The virtual/PPS activations (green) sent to skinGuis have weird behavior sometimes. They either flicker or do not light up at all - it seems to be dependent on the rate of the `vtRFThread` - even changing the verbosity level may change behavior.
Check here: https://github.com/robotology/peripersonal-space/blob/pps-with-modulations-devMultiEvent/modules/visuoTactileRF/vtRFThread.cpp#L542
and compar

[2016-09-19 17:17] alecive commented on #24
Couple comments:

 1. the idea of shifting the RF closer to the taxel seems to me a good and compact solution to the problem, but the result is that:
 2. the curvature of this thing is not at all the one of a sphere centered on the taxel. This is something I already raised in the previous issue. Although minor, this means that more information from the extreme parts of the RF is taken into account

[2016-09-19 17:23] alecive commented on #31
Makes sense. Their activations are read from the `vtRF` and if that module for some reason is slowed down, the activations are slowed down/flickering/having some problem accordingly. This is not an issue to me.

[2016-09-19 17:24] alecive commented on #30
So if there is no new link, also this one should be closed?

[2016-09-19 20:17] matejhof commented on #24
Normally, I'm not the picky one, but how can I respond to this numbering? :)

1. "Curvature". Yes, but it seems to me that having a "fatter" sphere is not a bad thing. Actually I currently already increased the aperture from 90 to 100 deg (angle from 40 to 50).
2. Everything is 3D, also the matlab plot, it's just a projection you're seeing.
3. Nr. bins - the pictures are just a matlab visualizatio

[2016-09-19 20:18] alecive commented on #24
feel free to go then :+1:

[2016-09-19 20:18] matejhof commented on #30
There's no extra link, but the dimensions are different, so needs to be considered.

[2016-10-10 09:50] matejhof commented on #31
Hmm, don't know. @pattacini was also unhappy with this. Is there another way?

The way `skinManager` is sending the real skin "red" activations to the same GUIs is here: https://github.com/robotology/icub-main/blob/master/src/modules/skinManager/src/compensator.cpp#L340
There, I have never seen it flickering, but I did not try slowing the `skinManager` down...

[2016-10-10 15:13] alecive commented on #31
That module is doing very little tasks. It makes sense that it can keep 30fps or higher.

Whereas we already know that in multiple cases the `vtRF` module cannot keep up with its 20fps rate because it is too computationally expensive. Especially if you print a lot of stuff on the terminal (which is known to slow down considerably the execution of a module).

[2016-10-10 15:14] alecive commented on #31
The only way to workaround that is to: 1) reduce verbosity 2) optimize the module 3) change the `skinGUI` to keep information for more than 1 frame (which I don't like honestly).

[2016-10-10 15:20] pattacini commented on #31
@matejhof I would then remove lots of verbosity first.

Flickering is always a bad effect we shouldn't have.

[2016-10-10 18:46] matejhof commented on #31
Ok, I thought @pattacini was suggesting that by looking into the writing and reading on the two ends, there might be some options. If that is not the case and we simply need to ensure that the sender is running fast enough, then we can close this (and keep an eye on optimizing vtRF thread).

[2016-10-10 18:46] #31 closed

[2016-10-14 09:24] matejhof commented on #24
Most of this has been addressed by: https://github.com/robotology/peripersonal-space/pull/32 now.

Currently, I have increased the RFs - radius at base 7 cm (from 5) and angle 50 deg (from 40).
https://github.com/robotology/peripersonal-space/blob/pps-with-modulations-devMultiEvent/lib/src/taxelPWE.cpp#L8

We still need to test the representations after learning - whether they will be smooth aroun

[2016-10-14 09:27] matejhof commented on #23
Will have to be adapted to allow for the new way of RF representation - see #32 and #24.

[2016-10-26 15:05] matejhof commented on #17
This has been completed now and tested. Most of the implementation is in this commit:
c7f397eb87231bf8e9b25ad11fcd3878dae7a5a8
The new code is so far in the `pps-with-modulations-dev-V2skinAndkinematics` branch. To be merged into 'pps-with-modulations` after resolving also #30.
Can be reopened if problems pop up - for example after @towardthesea visualizes what we just learned on the robot.

[2016-10-26 15:05] #17 closed

[2016-10-26 15:11] matejhof commented on #27
For our current needs, this can be IMO considered solved.
Multiple events are handled correctly and maximum of activations taken if multiple enter the RF of a particular taxel.
Learning works only for one stimulus - as before.

[2016-10-26 15:11] #27 closed

[2016-10-26 15:13] alecive commented on #27
:+1:

[2016-10-26 15:13] matejhof commented on #24
We have successfully tested <-0.05,0.45> range.
Check for the bin at 0 is pending (@towardthesea).

[2016-11-30 15:19] matejhof commented on #30
@towardthesea, maybe you could have a look at this with the help of @pattacini , such that after that is solved we could merge the `pps-with-modulations-dev-V2skinAndKinematics` branch into `pps-with-modulations`?

[2017-01-06 09:55] matejhof commented on #30
@towardthesea could you have a look perhaps, so we can then do a PR for this branch?

[2017-01-06 09:59] pattacini commented on #30
Good idea indeed

[2017-01-06 10:45] towardthesea commented on #30
@matejhof what should I pay attention on during the testing?

[2017-01-06 15:59] matejhof commented on #30
The change in kinematics is small, but we should figure out how to test it - probably through printouts of some taxel pos. I will give pointers where in the PPS code to make the changes. In the meantime, please figure our with the help of @pattacini how to get the right info - which kinematics version - from the robot conf. files.

In addition, I just realized the `virtualContactGeneration` module

[2017-01-13 09:18] matejhof commented on #30
ok, let' try to address this asap, so we can merge and move on.
@pattacini, could you please point to an example how this is done correctly in one of the existing modules (Cart. control for example I guess)? I assume, the robot version should be retrieved from local conf. files and based on that we can handle it in the code.

[2017-01-13 13:18] pattacini commented on #30
@matejhof what are we speaking about here?

#### Configuration files of the robot?
Then, the skin should be configured properly in the robot directory hosted at [robots-configuration](https://github.com/robotology/robots-configuration) repository. Just put therein the correct xml files. You shouldn't need to specify the skin version anywhere, I suppose.

I am not aware of any automatic way the ski

[2017-01-13 16:49] pattacini commented on #30
`iKinGazeCtrl` does exactly this.

[2017-01-20 11:55] towardthesea opened #33 "No visuoTactileWrapper.ini"
I have updated the `peripersonal space` on blackie then found out that `visuoTactileWrapper` couldn't find the configuration file.

[2017-01-20 12:07] matejhof commented on #33
we probably never used it. we could create one with default values as per `visuoTactileWrapper.cpp`and put it up.

[2017-01-20 12:44] towardthesea commented on #33
If there is no problem without it, I will close this issue!

[2017-01-20 12:45] #33 closed

[2017-01-23 10:04] matejhof commented on #17
also the `virtualContactGeneration` module was updated with V2 skin option.
here: 2e8939294b2e548cde442c32d04f8bb2e3bac622

[2017-01-23 10:08] matejhof commented on #30
Implemented, using the `--arm_version` parameter, accepting a double: {1.0,1.7,2.0} are the possible options. Defaults are V1 kinematics for `icubSim`, V2 for `icub`.
Relevant commits:
c6ee46a5037f7958134c91cf576094eef976ca1c
4b06d148d881cb18577f4c23d2d638fb69baca8c

Closing.
(Exporting `visuoTactileRF.ini` with robot configuration remains as an option for the future.)

[2017-01-23 10:08] #30 closed

[2017-02-09 21:59] matejhof opened #35 "gaze control, homing, context"
These issues popped up during use of PPS in WYSIWYD (https://github.com/robotology/wysiwyd/issues/139#issuecomment-278668720)
It is about https://github.com/robotology/peripersonal-space/blob/master/modules/visuoTactileWrapper/vtWThread.cpp#L460

quoting the post of @pattacini:

These lines are wrong:

[code]

Please correct them with:

[code]

Anyway, I wouldn't keep this homing. Further, the use

[2017-02-09 23:36] alecive commented on #35
I don't really understand why you need my feedback on this, but anyway:

I don't know what that is, is that a new method? If @pattacini says so, feel free to change it.

Feel free to comment it out. It's kind of nice for the robot to look straight when the module is closed, but it's not really important. I.e. I don't care :grimacing:

The context is used explicitly to not interfere with other modu

[2017-02-09 23:36] #35 closed

[2017-02-10 12:00] pattacini commented on #35
The real problem is changing the context back while moving. That's it

[2017-02-10 15:38] towardthesea commented on #23
The issue is solved with the `PPS-visualization` repository. Close this now!

[2017-02-10 15:38] #23 closed